.user{
    flex: 4;
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-size: 16;
    font-weight: 400;
}
.userContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 40px;
}
.userUpdate{
    flex: 2;
    margin-left: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 40px;
}
.userShowImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowTopTitle{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.userShowUsername{
    font-weight: 500;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 500;
    color: lightslategray;
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}
.userShowIcon{
    font-size: 16px !important;

}
.userShowInfoTitle{
    margin-left: 15px;
}
.userUpdateImg{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.userUpdateForm{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 500;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateItem>input{
    border: none;
    height: 30px;
    width: 250px;
    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
    
}
.userUpdateIcon{
    cursor: pointer;
    font-size: 20px;
}
.userUpdateButton{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: teal; 
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
}