.widgetLg{
    top: 0;
    flex: 2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 20px;
}
.widgetLgTitle{
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
}
.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetLgButton.approved{
    background-color: rgb(158, 233, 158);
    color: darkgreen;
}
.widgetLgButton.declined{
    background-color: rgb(216, 154, 154);
    color: darkred;
}
.widgetLgButton.pending{
    background-color: rgb(186, 232, 233);
    color: darkblue;
}
.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh{
    text-align: left;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.widgetLgDate,widgetLgAmount{
    font-weight: 300;
}
.widgetLgTh{
    font-weight: 500;
    font-size: 16px;
}
