.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    flex-direction: column;
}
.loginInput{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 220px;
    height: 25px;
    border: 1px solid gray;
}
.adminloginheading{
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    color: teal;
    
}
.loginButton{
        background-color: teal;
        border-radius: 5px;
        color: white;
        padding: 5px;
        border: none;
}